@model InstrumentationAccountingSystem.Models.HomeModel

@if (Model.User != null)
{
    <h2>Logged in as: @Model.User.Email, @Model.User.Role</h2>
}
else
{
    <h2>Not logged in.</h2>
}
<p><a asp-action="CreateNote">Create note</a></p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
